<div class='columns px-5 pt-5'>    
  <div class='column is-half is-offset-one-quarter'>
    <div class='card'>
      <div class='card-header'>
        <p class='title'><%= @kitten.name %></p>
      </div>
      <div class='columns'>
        <div class='column pt-5'>
          <table class='table is-fullwidth'>
            <tr>
              <td><b>age</b></td><td><%= @kitten.age %></td>
            </tr>
            <tr>  
              <td><b>cuteness</b></td><td><%= @kitten.cuteness %>/7</td>
            </tr>
            <tr>
              <td><b>softness</b></td><td><%= @kitten.softness %>/7</td>
            </tr>
          </table>
        </div>
        <div class='column'>
          <figure class='image is-square'>
            <img src='/assets/cat.jpg'>
          </figure>
          <nav class='level'>
            <p class='level-item has-text-centered'>"artist's depiction"</p>
          </nav>
        </div>    
      </div>
      <footer class='card-footer'>
        <%= link_to 'edit', edit_kitten_path(@kitten), class: 'card-footer-item button' %>
        <%= link_to 'destroy', delete_kitten_path(@kitten), class: 'card-footer-item button' %>
      </footer>
  </div>
</div>    